version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: kibana
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=0123456789abcdef0123456789abcdef
      - XPACK_SECURITY_ENCRYPTIONKEY=abcdef0123456789abcdef0123456789
      - XPACK_REPORTING_ENCRYPTIONKEY=reportingkey0123456789abcdef

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.11.1
    container_name: filebeat
    user: root
    depends_on:
      - elasticsearch
    volumes:
      - ../logs:/var/log/app_logs
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml
    command: ["-e", "--strict.perms=false"]

volumes:
  es_data:
